{% extends "base.html" %}
{% block content %}
<div class="row mx-auto mt-5">
  <div class="col d-none d-md-block"></div>
  <div id="bio_content" class="col-md-6 mx-auto text-justify mx-3"></div>
  <div id="twitter_content" class="col mx-auto d-none d-md-block">
    <a class="twitter-timeline mx-auto" data-width="300" data-theme="dark" href="https://twitter.com/fretboardfreak?ref_src=twsrc%5Etfw">Tweets by fretboardfreak</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col d-none d-md-block"></div>
</div>
<div class="row mx-auto d-block d-md-none">
  <div class="col-sm"></div>
  <div id="twitter_content" class="col-sm-4 mx-auto">
    <a class="twitter-timeline mx-auto" data-width="300" data-theme="dark" href="https://twitter.com/fretboardfreak?ref_src=twsrc%5Etfw">Tweets by fretboardfreak</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-sm"></div>
</div>
{% endblock %}
